<body>
    <div class="header">
        <img id="prograd" src="../../assets/download.png" alt="">
        <p>Made with <img src="../../assets/prograd-heart.svg" alt="prograd-heart"> by Parthiban J</p>
       
    </div>
    <hr>
    <div class="container">
        <div class="text">
            <h1>Hear It From Our ProGrads</h1>
            <p>Being  a ProGrad is a life-time experience . In the past, we have several times tried showing the world what is to be a ProGrad. But, we soon realised that no one can be better describe this jounery that our ProGrads themselves.</p>
                <br>
            <strong><p>So here we are with the mission to let the world hear it from our ProGrads!</p></strong>
                <h2>#ProudProGrads#YourDreamOurMission</h2>
        </div>
        <div class="hero">
            <img src="../../assets/hero.png" alt="hero">
        </div>
    </div>
</body>